@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

header h1 {
    position: relative;
    left: 36%;
}
header p {
    position: relative;
    left: 30%;
    font-family: Pacifico;
    font-size: 110%;
}
nav {
    position: sticky;
    top: 10px
}
.navig button {
    position: relative;
    left: 95%;
    background-image: none;
    color: green;
    font-size: 250%;
}
.text h1, .text p {
    font-size: 150%;
    position: relative;
    left: 30%;
}
.text h1 {
    margin-top: 8%;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.img_left {
    position: absolute;
    left: -1%;
    margin-top: 10px;
}
ul {
    list-style: none;
}
.page {
    margin-top: 1000px;
}
.img_right {
    position: absolute;
    left: 69%;
    margin-top: -18.05%;
}
.ps {
    font-family: pacifico;
}
#pag2 {
    margin-top: -28.65%;
}
#pag3 {
    margin-top: -21.15%;
}
#pag4 {
    margin-top: -35.8%;
}
h1, p {
    color: white;
}